.addr-content{
  width: 98.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.addr-display{
  position: relative;
  height: 260px;
  width: 20.5%;
  margin: 80px 0px;
  margin-top: 150px;
  border-radius: 20px;
  border: 1px solid rgb(186, 186, 186);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-top: 7px;
}

.add-addr{
  border: 3.2px dashed rgb(162, 162, 162);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 0px;
}

.add-addr img{
  height: 42px;
  width: 42px;
  filter: invert(0.6);
}

#no-addr{
  font-size: 1.6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin-top: 50px;
}

.addr-display p{
  font-size: 1.07rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 3px 5px;
  padding: 4px;
  color: black;
}

.addr-display p:first-child{
  font-weight: bold;
  font-size: 1.09rem;
}

.add-addr p{
  font-size: 1.2rem;
  color: gray;
}

.addr-display .editbtn, .addr-display .removebtn{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  bottom: 20px;
  width: 55px;
  left: 20px;
  background: none;
  border: none;
  color: rgb(1, 74, 103);
  font-size: 1rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.addr-display .editbtn{
  width: 30px;
}

.addr-display .removebtn{
  left: 80px;
}