body {
  background: rgb(255, 255, 255);
}

.container {
  display: flex;
  padding: 0px;
  margin: 0px;
  height: 600px;
}

.container div {
  padding: 60px;
  margin: 40px;
  height: 410px;
  width: 20%;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  position: relative;
}

.container div:hover {
  box-shadow: 10px 5px 10px rgba(0, 0, 0, .5);
}

b {
  font-size: 20px;
}

.container p {
  font-size: 20px;
}

div .btnsubmit {
  margin: 0px;
  margin-top: 40px;
  height: 35px;
  font-size: 16px;
  width: 145px;
  background-color: orange;
  cursor: pointer;
}